<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101606989659-ha37i31ps8lmq6llo7ti6meld26f7b4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101606989659-ha37i31ps8lmq6llo7ti6meld26f7b4a</string>
	<key>API_KEY</key>
	<string>AIzaSyB11xMpKu0ygLdjkf5c3ibk55gDUtlRDVk</string>
	<key>GCM_SENDER_ID</key>
	<string>101606989659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joaquinborderas.CanvasConnect</string>
	<key>PROJECT_ID</key>
	<string>artmigos-f5770</string>
	<key>STORAGE_BUCKET</key>
	<string>artmigos-f5770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101606989659:ios:9f704614fe6da1a601847e</string>
</dict>
</plist>